Project(Sdk="Microsoft.NET.Sdk")

  PropertyGroup

    OutputType Library
    TargetFramework net35
    GenerateAssembyInfo false

  ItemGroup
    PackageReference(Include="Newtonsoft.Json" version="13.0.3")